<footer >
  <div fxLayout="row" fxLayout.lt-md="column" >
    <div fxFlex="30%" fxFlex.lt-md="100%" fxLayoutAlign="center center" >
      <div fxLayout="column" fxFlexFill>
      <span class="footer-brand-title" >
         زیورآلات زویا  zoyaJewelry
       </span>
      <span class="footer-subtitle">
      Everyone have their own way to be the best, so
    </span>
      </div>
    </div>

    <div fxFlex="30%" fxFlex.lt-md="100%" fxLayoutAlign="center center">
      <div fxLayout="column" fxFlexFill>
        <span class="footer-title"> راه های ارتباطی</span>
        <div class="footer-social-wrapper" fxLayout="row" fxLayoutAlign="center center">
          <img class="footer-social-image" fxLayoutAlign="center " src="../../../assets/images/icons/whatsapp.png"/>
          <img class="footer-social-image" src="../../../assets/images/icons/instagram.png"/>
          <img class="footer-social-image" src="../../../assets/images/icons/telegram.png"/>
        </div>
      </div>


    </div>
  </div>

</footer>
