.product-container {

}

.product-spec-container {
  margin-top: 10px;
}

.product-spec-row {
  padding-left: 30px;
  border-radius: 20px;
  background-color: #f6f6f6;
  margin-top: 15px;
}

.product-title {
  font-size: 29px;
  font-weight: bold;
  text-align: right;
  color: black;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.product-spec {
  font-size: 15px;
  text-align: right;

  font-weight: bold;
  color: #A1A1A1;
}

.product-spec-image {
  width: 40px;
  height: 40px;
}

.product-spec-content {
  font-size: 15px;
  text-align: center;
  margin-right: 5px;
  color: black;
  font-weight: 500;

}

.product-detail {
}

.product-image {
  width: 100%;
  height: 100%;
}

.product-shipping-container {
  padding: 7px 30px;
  margin: 5px;
  border-radius: 10px;
  background-color: #ededed;
}

.product-cart-container {
  width: 100%;
}

.mat-raised-button {

}

.product-shipping {
  text-align: right;
  align-self: center;
  margin-right: 10px;
  color: #A1A0A0;
  font-size: 12px;

}

@media (max-width: 480px) {
  .product-spec-container {
    margin: 4px 0 8px 0;
  }

  .product-title {
    font-size: 21px;
    margin-top: 20px;
  }

  .product-price {
    font-size: 15px;

  }

  .product-cart-container {
    margin-top: 20px;
  }

  .product-spec {
    margin-top: 20px;
  }

  .mat-raised-button {


  }

  .product-container {
    margin-top: 4px;
  }
}
