<div fxLayoutAlign="center center" style="background-color: white;padding-top:40px ">

  <div fxLayout="column" fxFlex="30%" fxFlex.lt-md="90%">

    <div class="outer-wrapper">
      <mat-card fxLayoutAlign="center center" fxLayout="column">
        <h1>ورود به پنل ادمین</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()" dir="rtl" fxFlex="70%" fxFlex.lt-md="100%">
          <mat-form-field class="field-full-width" appearance="outline">
            <mat-label>نام کاربری</mat-label>
            <input matInput formControlName="userName">
            <mat-error *ngIf="loginForm.get('userName')?.hasError('required')">
              نام کاربری را وارد نمایید
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field-full-width" appearance="outline">
            <mat-label>رمز ورود</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              رمز ورود را وارد نمایید
            </mat-error>
          </mat-form-field>

          <mat-error *ngIf="hasError">
            نام کاربری یا رمز عبور اشتباه است
          </mat-error>
          <button type="submit" mat-raised-button [disabled]="loginForm.invalid || isLoading" color="primary">ورود
          </button>
          <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        </form>

      </mat-card>

    </div>
  </div>
</div>
