.field-full-width{
  width: 100%;
  margin-top: 15px;
}
.mat-raised-button{
  width: 100%;
  margin: 30px 10px 0;
  font-size: 19px;
}
.mat-stroked-button{
  width: 100%;
  margin: 30px 10px 0;
}
.upload-file-container {

  background-size: 100px;
  background-position: center;
  height: 200px;
  width: 100%;
  margin: 20px auto;
  border: 2px dashed rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}


.upload-file-container:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}
